.cards {
    padding-inline: 1rem;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 15rem);
    justify-content: center;
    gap: 2em;
    max-width: 105em;
    margin: auto;
    padding: 2em 1em;
    background-color: hsla(0, 0%, 100%, 0.1);
}
.card {
    display: grid;
    grid-template-rows: 1fr min-content;
    height: 18em;
    color: var(--clr-primary);
    background-color: var(--clr-accent);
    box-shadow: inset 0 0 .5rem 1rem var(--clr-primary);
}

.card * {
    pointer-events: none;
}

.img-container {
    display: grid;
    justify-items: center;
    align-content: center;
}

.card-img {
    width: 55%;
}

.name {
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    padding: 1em;
}